*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Righteous', cursive;
    font-size: 62.5%;
}
body{
    display: flex;
    height: 100vh;
    flex-direction: column;
    font-size: 1.4rem;
    color: #2B2D42;
}

.header{
    
    height: 12rem;   
}
.Menu{
    display: flex;
    text-decoration: none;
}
.MenuT{
   list-style: none;
   flex:1;
   /* outline: 1px solid cyan; */
   text-align: center;
   line-height: 12rem;    
   transition: flex 0.5s;
   text-decoration: none; 
}
.MenuT:hover{
flex:1.2;  
 }
.menut2{
    line-height:3rem;
    background-color:#F7EC59;  
}
.menut2:hover{
    flex:1;  
     }
.menut2 h1{
    margin-top: 0.5em;
    color: #2B2D42;
}
.menut2 p{
    color: #2B2D42;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
.MenuT a{
    text-decoration: none;
    color: #2B2D42;
}
.t1{
    background-color: #6C9A8B;
}
.t2{
    background-color: #E8998D;
}
.t3{
    background-color: #EED2CC;
}
.t4{
    background-color: #F5E5E0;
}

.main{
    display: flex;
    height: inherit;
    justify-content: space-around;
    flex-direction: column;
    align-items:center;
    background-color: #92DCE5;   
}

.section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.se1{
    display: flex;
    height: 50%;
    width: 90%;
    background-color: #E8998D;
    margin: 2rem 0rem 1rem 0rem; 
    justify-content: center;   
    align-items: center;
  }

  .se1-b1{
    height: 90%;
    width: 80%;
    background-color: #F8F2A9;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}
.se1-b1 h2{
    width: 60%;
    margin-left: 6rem;

}
  
.form{
    height: 70%;
    width: 60%;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    margin-left: rem;
    font-size: 1.3rem;

}
.Result-c{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 100%;
    margin: 1rem;
}

.Result{
    background-color: #6C9A8B;
    margin-top: 6rem;
    padding-top: 0.5rem;
    text-align: center;
    border-radius: 3rem;
    margin-left: 0rem;
    align-items: center;
    height: 3rem;
    width: 80%;
}

.part1{

    margin: 2rem;
}

.part2{

    text-align: justify;
}

.footer{
    background-color: #F7EC59;
    display: flex;
    height: 10rem;
    width: 100%;
    margin-top: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.footer div{
   font-size: 2rem; 
}

